/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Noto+Serif+SC:wght@300&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Noto+Serif+SC:wght@300;600&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.message{
    position: fixed;
    border: 1px solid #747bff;
}
::view-transition-old(theme-transition),
::view-transition-new(theme-transition) {
    animation: none;  /* disable transition */
}
